img, object, embed, video {
  max-width: 100%; }

.ie6 img {
  width: 100%; }

.fluid {
  clear: both;
  margin-left: 0;
  width: 100%;
  float: left;
  display: block; }

.fluidList {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }


/********************************************************************************************************** */
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
/********************************************************************************************************** */

  * {
    padding: 0;
    margin: 0;
    font-family: "Oswald"; }

  body {
    background-image: url("../swirl_pattern/swirl_pattern.png"); }

  a {
    text-decoration: none;
    color: inherit; }

    .headWrapper{
    	text-align: center;
    	height: 280px;
    	width: 100%;
    	border-width: 4px;
    	border-style: dashed;
    	border-top-color: #cccccc;
    	border-left-color: #cccccc;
    	border-right-color: #cccccc;
    	border-bottom-color: transparent;
    	z-index: 1;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
    }

    #logo_picture{
    	height: 100px;
    	width: 100px;
    	margin: 0 0 0 0;
    	padding: 0;
    	display: none;
    }

    #pageTitle{
    	text-align: center;
    	color: #E065CA;
    	margin-top: -290px;
    	font-size: 100px;
    	width: 100%;
    }

    .left_feature_text{
    	float: left;
    	margin-top: -90px;
    	color: salmon;
    	padding-left: 10px;
    }
    .right_feature_text{
    	float: right;
    	margin-top: -90px;
    	color: salmon;
    	padding-right: 10px;
    }

    #backupIconInstagram{
    	display: none;
    	width: 48px;
    	margin-top: -8em;
      float: left;
    }

    #backupIconPintrest{
    	display: none;
    	width: 48px;
    	margin-top: -4.8em;
      float: left;
    }

    #backupIconTwitter{
    	display: none;
    	width: 48px;
    	margin-top: -4.8em;
      float: right;
    }

    #backupIconFacebook{
    	display: none;
    	width: 48px;
      float: right;
      margin-top: -8em;
    }

    #socialGroup{
    	float: right;
    	width: 300px;
    	height: auto;
    	margin: -5em 1em 0em 0em;
    }

    .socialInstagram{
    	width: 48px;
    	width: 48px;
    	padding: 0px;
    	margin: 0em 0.5em 0em 0em;
    }

    .socialInstagram:hover{
    	border: 3px dotted #41F0F0;
    	cursor: default;
    }

    .nav{
    	overflow: hidden;
    	text-align: center;
    	background-color: #E83199;
    	height: auto;
    	margin-top: -15px;
    	position: relative;
    	z-index: 2;
    }

    .nav li{
    	text-align: center;
    	display: inline-block;
    	margin-right: 10%;
    	font-size: 30px;
    	width: auto;
    	font-family: 'Open Sans Condensed', sans-serif;
    	position: relative;
    	z-index: 3;
    }

    .nav li:hover{
    	color: #FAFAFA;
    }

    .fixed{
    	position: fixed;
    	top: 0;
    	width: 100%;
    	z-index: 20;
    	margin-top: 20px;
    }

    .contentWrapper{
    	margin-top: 3.5em;
    	margin-left: auto;
    	margin-right: auto;
    	height: 2800px;
    	width: 100%;
    	font-family: 'Lobster', cursive;
    	background-color: #FFFFFF;
    	z-index: 11;
    	position: relative;
     box-shadow:         0px -2px 5px 0px rgba(255, 50, 50, 0.45);
    }

    #contentTitle{
    	color: #474AEA;
    	text-align: center;
    	font-size: 70px;
    	font-family: "Lobster";
    }

    .shop_svg_icon{
      height: 45px;
      width: 45px;
      display: inline;
    }

    .textAnnouncer{
    	width: 70%;
    	height: 30px;
    	background-color: #40D6BA;
    	text-align: center;
    	margin: 0 auto;
    }

    .textAnnouncer > p{
    	font-size: 18px;
    	padding-top: 3px;
    	color: #FFFFFF;
    	font-family: 'Merriweather', serif;
    	font-style: italic;
    }

    .rslides {
    	text-align: center;
    	position: relative;
    	list-style: none;
    	overflow: hidden;
    	width: 70%;
    	height: 200px;
    	padding: 0;
    	margin: 0 auto;
    	border-radius: 14px;
    	}

    .rslides li {
    	-webkit-backface-visibility: hidden;
    	position: absolute;
    	display: none;
    	width: 100%;
    	height: 200px;
    	left: 0;
    	top: 0;
    	}

    .rslides li:first-child {
    	position: relative;
    	display: block;
    	}

    .rslides img {
    	display: block;
    	height: auto;
    	float: left;
    	width: 100%;
    	height: 200px;
    	border: 0;
    	border-radius: 14px;
    	}

    .separator1{
  		width: 70%;
  		margin: 0 auto;
  		border: 1px solid #8C5ED6;
  		margin-top: 40px;
    }

    .writingWrapper{
    	margin: 0 auto;
    	width: 68%;
    	height: auto;
    	margin-top: 30px;
    }

    #main_text{
      text-align: center;
      font-family: "Ropa Sans", sans-serif;
      font-size: 25px;
      width: auto;
      height: auto;
    }
    .text_hyperlink{
      color: #664FE3;
      font-family: "Ropa Sans", sans-serif;
      font-size: 25px;
      font-weight: normal;
    }
    #text_new_workshops{
      text-decoration: underline;
      font-family: "Lobster";
    }



  .featClass {
    height: 250px;
    width:  100%;
    border: 2px solid red;
    margin-top: 30px;
  }

  .featClass:hover{
    background-color: #F24981;
  }

  .featClass:hover .text_right_description{
    color: #FFFFFF;
  }
  .pic_left{
    float: left;
    height: 100%;
    width: 40%;
  }

  .text_right{
    color: #664FE3;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: "Lobster";
  }

  .text_right_description{
    color: #8A304E;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
  }



  #text_small_caption{
    text-align: center;
    color: #A1A1A1;
    font-size: 20px;
  }

  #featImgGallery{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid yellow;
  }

  #featImgTL{
    width: 49%;
    height: auto;
    float: left;
  }

  #featImgTR{
    width: 49%;
    height: auto;
    float: right;
  }

  #twitterLabel{
  	display: none;
  }

  .twitterWrapper{
  	width: 14%;
  	float: right;
  	margin-top: -147em;
  	margin-right: 2em;
  	height: 800px;
    position: relative;
    z-index: 70;
  }

  .separator2{
  		width: 70%;
  		margin: -50px auto 0 auto;
  		border: 1px solid #8C5ED6;
      position: relative;
      z-index: 12;
  	}

  .footerWrapper{
  	clear: both;
  	width: 100%;
  	height: auto;
  	margin: 4em auto 1em auto;
  	background-color: #E83199;
  }

  .footerWrapper > p{
  	text-align: center;
  	font-size: 25px;
  }

  .footerWrapper > h6{
  	text-align: center;
  }

  .zeroMargin_desktop {
      margin-left: 0;
  }
  .hide_desktop {
      display: none;
  }

  @media screen and (max-width: 1800px) {
    /*First Twitter collision with featuring classes */
    .gridContainer {
      width: 88.5%;
      padding-left: 0.75%;
      padding-right: 0.75%;
      margin: auto;
      clear: none;
      float: none;
      margin-left: auto; }


    .featClass{
      width: 90%;
      margin: 30px auto 0 auto;
    }
  }

    @media screen and (max-width: 1400px) {
      /*Second Twitter collision with featuring classes */
      .gridContainer {
        width: 88.5%;
        padding-left: 0.75%;
        padding-right: 0.75%;
        margin: auto;
        clear: none;
        float: none;
        margin-left: auto; }


      #main_text{
        width: 99%;
      }
  }

  @media screen and (max-width: 1133px) {
    /*Backup Social Icons kick in */
    .gridContainer {
      width: 88.5%;
      padding-left: 0.75%;
      padding-right: 0.75%;
      margin: auto;
      clear: none;
      float: none;
      margin-left: auto; }

    #socialGroup{
      display: none;
    }

    #backupIconTwitter{
      display: block;
    }
    #backupIconFacebook{
      display: block;
    }
    #backupIconInstagram{
      display: block;
    }
    #backupIconPintrest{
      display: block;
    }

  }

  @media screen and (max-width: 1107px) {
    /*Mobile view work in progress */
    .gridContainer {
      width: 88.5%;
      padding-left: 0.75%;
      padding-right: 0.75%;
      margin: auto;
      clear: none;
      float: none;
      margin-left: auto; }


    .twitterWrapper{
      display: none;
    }

    #main_text{
      width: auto;
    }
    .featClass{
      width: 100%;
    }

    .writingWrapper{
      width: 76%;
    }
  }

  @media screen and (max-width: 800px) {
    /*Tiding things up - no social icons*/
    .gridContainer {
      width: 88.5%;
      padding-left: 0.75%;
      padding-right: 0.75%;
      margin: auto;
      clear: none;
      float: none;
      margin-left: auto; }

      #backupIconTwitter{
        display: none;
      }
      #backupIconFacebook{
        display: none;
      }
      #backupIconInstagram{
        display: none;
      }
      #backupIconPintrest{
        display: none;
      }

      .left_feature_text{
        display: none;
      }
      .right_feature_text{
        display: none;
      }

  }
